.paystep-container {
  width: 95%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .steps {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
  }
  h2 {
    margin: 0;
    font-size: 33px;
    margin-bottom: 10px;
    width: 100%;
  }
  .payment-option {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .step2-button {
    margin-top: 50px;
  }
  button {
    width: 50%;
    height: 60px;
    cursor: pointer;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 5px;
    p {
      font-size: 20px;
      color: white;
      font-weight: 700;
    }
  }
}

.optcontent {
  border-bottom: 1px solid #cccccc;
}

.btn {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 40%;
  height: 60px;
  cursor: pointer;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 700;
  }
}

.payment-option-container {
  width: 22%;
  height: auto;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  padding-bottom: 50px;
  .name {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    text-indent: 20px;
    padding-top: 10px;
    margin-bottom: 30px;
    .p-name {
      font-size: 20px;
      font-weight: 700;
    }
    .icon {
      margin-right: 20px;
      margin-bottom: 10px;
      color: white;
    }
    p {
      margin: 0;
      width: 100%;
      color: white;
      font-size: 17px;
      font-size: 500;
    }
  }
  .option-content {
    width: 85%;
    margin-bottom: 15px;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 10px;
    .option-title {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 5px;
      color: #82888e;
    }
    p {
      margin: 0;
      font-size: 15px;
      font-weight: 600;
      color: #4c4c4c;
    }
  }
}
