.tabpage-container {
  background-color: #232323;
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 100px;
  .tab-title {
    margin: 0;
    margin-left: 70px;
    font-size: 30px;
    font-weight: 900;
    color: white;
  }
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> parent of caf478b (Revert "Merge pull request #5 from tuilaqui123/TMinh-Search")
  .movies-slide {
    z-index: 3;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin-top: -100px;
  }
<<<<<<< HEAD
=======
>>>>>>> parent of 91b2ac3 (Merge branch 'main' into TMinh-Search)
=======

>>>>>>> parent of caf478b (Revert "Merge pull request #5 from tuilaqui123/TMinh-Search")
}
