::-webkit-scrollbar {
    width: 6px;
  }

::-webkit-scrollbar-thumb{
    background-color: #37383D;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #505050
}

.expandText2Row{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.expandText1Row{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
