.step-container {
  width: 35%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .steps {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
  h2 {
    margin: 0;
    font-size: 33px;
    margin-bottom: 10px;
    width: 100%;
  }
  p {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    color: #353535;
    width: 100%;
  }
  b {
    width: 100%;
    margin-bottom: 5px;
  }
  .email {
    margin-top: 25px;
  }
  input {
    width: 100%;
    padding: 0;
    height: 60px;
    text-indent: 10px;
    border: 1px solid black;
    outline: none;
    margin-top: 15px;
    font-size: 17px;
  }
  .forgot {
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn {
    width: 100%;
    height: 60px;
    cursor: pointer;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    p {
      width: 100%;
      text-align: center;
      font-size: 20px;
      color: white;
      font-weight: 700;
    }
  }
  .step3-button-container {
    margin-top: 30px;
    width: 100%;
  }
  .step-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    .icon {
      font-size: 30px;
      font-weight: 700;
      margin-right: 20px;
      color: red;
    }
    p {
      font-size: 17px;
      font-weight: 700;
    }
  }
  .step2-button {
    margin-top: 50px;
  }
  .step2-h2 {
    margin-bottom: 50px;
  }
}
